<ion-header>
  <ion-navbar>
    <ion-title>Detalle</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <h1>{{post?.title}}</h1>
    </ion-card-header>
    <ion-card-content>
      <p>{{post?.body}}</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let comment of comments" padding>
      <h3>{{comment.name}}</h3>
      <p>{{comment.body}}</p>
    </ion-item>
  </ion-list>
</ion-content>