<!--
  Generated template for the ItemDeletePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Delete</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="item-detail" padding>
    <h2>{{post?.title}}</h2>
    <p>{{post?.body}}</p>
  </div>
  <p>¿Desea eliminar este post?</p>
  <button ion-button color="danger" (click)="deletePost()">
    Eliminar
  </button>
</ion-content>