<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar por ID"></ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let post of posts">
      <button ion-item (click)="openPost(post.id)">
        <h2>{{post.title}}</h2>
        <p>{{post.body}}</p>
        <ion-note item-end *ngIf="post.userId">{{post.userId}}</ion-note>
      </button>
    
      <ion-item-options>
        <button ion-button color="info" (click)="editPost(post)">
          {{ 'EDIT_BUTTON' | translate }}
        </button>
        <button ion-button color="danger" (click)="deletePost(post)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>