<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let post of posts">
      <button ion-item (click)="openPost(post.id)">
        <h2>{{post.title}}</h2>
        <p>{{post.body}}</p>
        <ion-note item-end *ngIf="post.userId">{{post.userId}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="info" (click)="editPost(post)">
          {{ 'EDIT_BUTTON' | translate }}
        </button>
        <button ion-button color="danger" (click)="deletePost(post)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>